# Service Principal credentials (recommended)
AZURE_CLIENT_ID=f1395fa1-474e-4b85-bf02-4cd34b44b33e
AZURE_CLIENT_SECRET=Luis2025
AZURE_TENANT_ID=22a61f53-fb7b-4fd0-bc78-de043db437ce
AZURE_SUBSCRIPTION_ID=49ca7e32-8d85-44af-878c-5046bd2cd8b0


# Docker run example (PowerShell):
# docker run --env-file C:\secrets\azure.env -p 8000:8000 --rm camp-chat-backend-windows:latest

# Docker run example (Linux):
# docker run --env-file /home/you/secrets/azure.env -p 8000:8000 --rm camp-chat-backend:latest

az ad sp create-for-rbac \
  --name "camp-chat-sp" \
  --role "Cognitive Services OpenAI Contributor" \
  --scopes "/subscriptions/49ca7e32-8d85-44af-878c-5046bd2cd8b0/resourceGroups/mcpp-purchase/providers/Microsoft.CognitiveServices/accounts/campo-chatbot-ai-resource" \
  --sdk-auth

  az ad sp create-for-rbac --name "camp-chat-sp" --role "Cognitive Services OpenAI Contributor" --scopes "mcpp-purchase"